body {
    background-color: #dff5f1;
    color: #316657;
}
nav ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}
nav li {
    list-style: none;
    background-color: #316657;
    color: #dff5f1;
    margin: 0;
    flex: 1;
    min-width: 200px;
    text-align: center;
    display: flex;
}
nav a, nav a:visited {
    text-decoration: none;
    width: 100%;
    padding: 8px 0px;
    color: #dff5f1;
}
nav a:hover {
    color: #316657;
    background-color: #9cd9c8;
}
nav a:hover, nav a.active {
    color: #316657;
    background-color: #9cd9c8;
}
